<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!-- <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
    </style> --}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <section class="first">
        <div class="first-content">
            <h1>
                Welcome to My Portfolio
            </h1>
            <h3>Full-Stack Developer</h3>

            <p>
                Meet Me,a Full-Stack Developer, with a flair for crafting captivating websites that leave a lasting
                impression. With a rich portfolio of diverse projects under my belt, I've honed my skills in creating
                intuitive user experiences and seamless functionality. But my passion doesn't stop there—I also delve
                into the realms of blogging and photography, where I channel my creativity and storytelling prowess.
                While my roots lie in website design, my journey has led me to embrace the power of data. As a dedicated
                learner and aspiring data analyst, I strive to unlock insights and drive informed decision-making. Join
                me on this exciting venture as we shape the future of digital innovation together.
            </p>
            <div class="btn-box">
                <a href="#"> Hire Me</a>
                <a href="https://github.com/RahulDadhich-programmer"> Git Hub</a>

            </div>
        </div>

        <div class="home-sci">
            <a href="https://instagram.com/rahul_dadhich15?igshid=MjEwN2IyYWYwYw=="><i
                    class='bx bxl-instagram-alt'></i></a>
            <a href="https://www.linkedin.com/in/rahul-dadhich-a40b67200"><i class='bx bxl-linkedin'></i></a>
            <a href="#"><i class='bx bxl-facebook-circle'></i></a>
        </div>

    </section>


    <section class="secondSection">
        <div class="leftSection">
            I'm a passionate About <span id="element" class="purple"> Full-Stack Developer</span>
        </div>
    </section>


    <!-- Skills Section-->
    <section class="third-section" id="skills">
        <hr>
        <h1>MY SKILLS</h1>
        <h5>I Do All kinds of Neat Stuff</h5>

        <div class="container">
            <div class="first-skill">
                <img src="/static/images/front-end.png" alt="">
                <h3>Front-End Design</h3>

                <!-- Measure of skills  -->
                <div class="column right">
                    <div class="bars">
                        <div class="info">
                            <span>HTML</span>
                            <span>75%</span>
                        </div>
                        <div class="line html">
                        </div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>CSS</span>
                            <span>70%</span>
                        </div>
                        <div class="line css">
                        </div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>JavaScript</span>
                            <span>85%</span>
                        </div>
                        <div class="line js">
                        </div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Bootstrap</span>
                            <span>75%</span>
                        </div>
                        <div class="line Bootstrap">
                        </div>
                    </div>

                </div>

            </div>
            <!-- Second skills -->
            <div class="second-skill">
                <img src="/static/images/Back-end.png" alt="">
                <h3>Back-end Development</h3>

                <div class="column right">

                    <div class="bars">
                        <div class="info">
                            <span>Mongodb</span>
                            <span>85%</span>
                        </div>
                        <div class="line Mongodb">
                        </div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Node.js</span>
                            <span>80%</span>
                        </div>
                        <div class="line Node">
                        </div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>PHP</span>
                            <span>90%</span>
                        </div>
                        <div class="line PHP">
                        </div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>SQL</span>
                            <span>90%</span>
                        </div>
                        <div class="line SQL">
                        </div>
                    </div>

                </div>
            </div>

            <!-- Third skill -->
            <div class="third-skill">
                <img src="/static/images/Programming.png" alt="">
                <h3>Programming Languages</h3>

                <div class="column right">

                    <div class="bars">
                        <div class="info">
                            <span>Python</span>
                            <span>90%</span>
                        </div>
                        <div class="line python">
                        </div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>C++</span>
                            <span>85%</span>
                        </div>
                        <div class="line CPP">
                        </div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>C Language</span>
                            <span>65%</span>
                        </div>
                        <div class="line C">
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <hr>

    </section>


    <div class="container-fluid" id="Services">
        <h1 class="text-center mt-5 display-3 fw-bold">Services</h1>
        <hr class="mx-auto mb-5 w-25">
        <div class="row mb-5">
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <div class="card shadow">
                    <img src="/static/images/card1.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center">Web Designing</h3>
                        <hr class="mx-auto w-75">
                        <p>
                            As a web designer, I provide professional and creative solutions for individuals and
                            businesses seeking to establish or enhance their online presence. With a passion for
                            aesthetics, usability, and functionality, I specialize in designing visually stunning and
                            user-friendly websites that align with my clients' goals and target audience.I begin the web
                            design process by thoroughly understanding my clients' requirements, brand identity, and
                            objectives. </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <div class="card shadow">
                    <img src="/static/images/card1.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center">Web Development</h3>
                        <hr class="mx-auto w-75">
                        <p>As a web developer, I offer professional and comprehensive web development services to
                            individuals and businesses. With expertise in coding languages such as HTML, CSS,
                            JavaScript, and more, I specialize in creating dynamic and interactive websites that are
                            tailored to meet the specific needs of my clients.Using the latest industry standards I
                            craft captivating layouts, selecting the most suitable color
                            schemes to create an engaging user experience.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <div class="card shadow">
                    <img src="/static/images/card1.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center">Computer Vision</h3>
                        <hr class="mx-auto w-75">
                        <p>As a computer vision specialist, I provide comprehensive solutions for computer vision
                            projects. Leveraging cutting-edge algorithms and technologies, I develop custom computer
                            vision applications for various industries, including image recognition, object detection,
                            video analysis, and more. With a focus on accuracy and efficiency, I aim to deliver robust
                            computer vision solutions that meet the unique requirements of my clients.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Services End -->

    <hr>


    <div class="heading" id="About">
        <h1>About Us</h1>
        <p>
            I am a full-stack developer and passionate data analyst, specializing in creating robust solutions and
            deriving valuable insights from data.</p>

    </div>
    <section class="about-us">
        <img src="/static/images/About.avif">
        <div class="about-content">
            <h2>I am a versatile full-stack developer proficient in a wide range of technologies. With a passion for web
                development, I offer comprehensive solutions for every aspect of full-stack web development. From
                front-end design and development to back-end programming and database management, I deliver high-quality
                projects that meet client expectations.</h2>

        </div>
    </section>

    <!-- About Section End -->
    <hr>




    {{!--
    <footer>
        <div class="footer">
            <div class="footer-first">
                <h3>Rahul Developer</h3>
            </div>
            <div class="footer-second">
                <ul>

                    <li>Home</li>
                    <li>About</li>
                    <li>Contact</li>
                    <li>Services</li>
                </ul>
            </div>
            <div class="footer-third">
                <ul>

                    <li>LinkedIn</li>
                    <li>Git Hub</li>
                    <li>Instagram</li>
                    <li>Facebook</li>
                </ul>
            </div>
            <div class="footer-fourth">
                <ul>

                    <li>fsdknh</li>
                    <li>Aboy</li>
                    <li>Contact</li>
                    <li>Services</li>
                </ul>
            </div>

        </div>
        <div class="footer-right">
            Copyright &#169; rahuldadhich.com || All rights reserved
        </div>
    </footer> --}}



    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed('#element', {
            strings: ['Full-stack Developer', 'Blogger', 'Trader', 'Data Analyst'],
            typeSpeed: 100,
        });
    </script>
</body>


</html>