<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>

<body>
    {{>navbar data = details}}
    <h1 style="margin-top: 93px;">
        under maintenance
    </h1>
    {{!-- {{>Dynamic_blog Bdata = Blog}} --}}
</body>

</html>